<% if current_user %>
	<h1>Welcome, user <%= current_user.email %> - <%= link_to 'Logout', logout_path %></h1>
<% else %>
	<h1><%= link_to 'Login', login_path%></h1><br/>
	<h1><%= link_to 'Create Account', new_user_path %></h1><br/>
<% end %>


	<%= form_for @link do |f| %>
		<ul>
		  <li><%= f.label :url %></li>
		  <li><%= f.text_field :url %></li>
		  <li><%= f.label :title %></li>
		  <li><%= f.text_field :title %></li>
		  <li><%= f.submit 'Create Link' %></li>
		</ul>
	<% end %>

<table style="width:100%">
  <tr>
    <th>URL</th>
    <th>Title</th> 
    <th>Status</th>
    <th>Mark Read</th>
    <th>Edit</th>

  </tr>
  <% @links.each do |link| %>
		  <tr class='link' data-link-id=<%= link.id %>>
		    <td><%= link.url %></td>
		    <td><%= link.title %></td> 
		    <td><div class='read-status'><%= link.read %></div></td>
		    <td><%= link_to 'Read', links_path, class: 'mark-as-read' %></td>
		    <td><%= link_to 'Edit', edit_link_path(link)%></td>
		  </tr>
  <% end %>
</table>